body{
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43c6ac, #f8ffae); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #43c6ac, #f8ffae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.panel-background{
  background: rgba(178, 221, 172, 0.849) !important;
}

.title{
  border-bottom: 5px solid black;
  padding:5px;
}

/*Game Container*/
#game-container,#result-container{
  display: none;
}

/*Hiding stuff*/
#game-container, #start-container, #icons-canvas, #card-area,#result-container{
  transition: all 1s linear;
}

.visually-hidden {
  opacity: 0;
}
